<.mobile_shell
  current_user={assigns[:current_user]}
  current_member={assigns[:current_member]}
  memberships={assigns[:memberships] || []}
  current_path={assigns[:current_path] || ""}
  flash={assigns[:flash] || %{}}
  page_title={assigns[:page_title]}
  main_bg={assigns[:main_bg] || "bg-stone-50"}
  active_shift={assigns[:active_shift]}
>
  {@inner_content}
</.mobile_shell>
